/* Custom styles for body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
  background-image: url('Media/446481.jpg');
  background-size: 100%; /* Ensures the background image covers the entire container */
  background-repeat: repeat; /* Repeats the background image */
  padding-bottom: 100px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.container {
  padding: 20px;
  flex-grow: 1;
}

.img-fluid {
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.background-border {
  border-top: 10px solid #dee2e6;
}

/* Back to top button */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

#back-to-top-btn:hover {
  background-color: #b11b1b;
}

.section-heading {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}

.col-lg-6 {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.nav .show>.nav-link.nav-link-faded, .nav-link.nav-link-faded.active, .nav-link.nav-link-faded:active, .nav-pills .nav-link.nav-link-faded.active, .navbar-nav .show>.nav-link.nav-link-faded {
  color: #3367b5;
  background-color: #c9d8f0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #467bcb;
}

.nav-link.has-icon {
  display: flex;
  align-items: center;
}

.nav-link.active {
  color: #467bcb;
}

.nav-pills .nav-link {
  border-radius: .25rem;
}

.nav-link {
  color: #4a5568;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

/* Custom styles for footer */
.footer {
  padding: 1rem;
  background-color: #343a40;
  color: #fff;
  flex-shrink: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Custom styles for the "How to play" sections */
.section-heading {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.container2 {
  padding: 20px 20px 10px 20px; /* Added padding to the top */
  background-color: #343a40; /* Match the background color with the navbar */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 20px; /* Spacing between sections */
}

.container2 p {
  color: #fff; /* White text color */
}

/* Add space between navbar and content */
.navbar {
  margin-bottom: 20px;
}

 /* Add some padding to the sections for better visualization */
 section {
  padding: 20px;
}


.container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if necessary */
  justify-content: flex-start; /* Align items to the start of the flex container */
}

.card {
  width: 200px; /* Set a fixed width for each card */
  margin: 10px; /* Add some spacing between cards */
  text-align: center; /* Center align text within the card */
}

.card h2 {
  margin-top: 5px; /* Add some space between the image and the text */
}

